{% extends 'base.html.twig' %}

{% block body %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque consequatur cum debitis deserunt dicta doloribus,
        eius eveniet molestiae natus nihil non placeat quo quod, reiciendis rerum sit suscipit voluptatum?</p>

{% endblock %}

{% block title %}

{% endblock %}

